.container {}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #363449;
  color: #fff;
}

.header div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.main {
  min-height: 75vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: gray;
  font-weight: 600;
}


.logo {
  /* height: 1em; */
  margin-left: 0.5rem;
}

/* Mobile css */

.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grow {
  flex-grow: 1;
}

.bagde {
  margin-inline-end: 10px;
  position: relative;
}

.badgeContent {
  width: "25px";
  height: "25px";
  border-radius: "50%";
  text-align: "center";
  color: "#fff";
  background-color: "teal";
  justify-content: "center";
  align-items: "center";
  font-weight: "bold";
  position: "absolute";
  top: "12px";
  right: "65px";
}